[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
mylogging = "python -m workspace.mylogging.main.app"
mysingleton = "python -m workspace.mysingleton.main.app"
myimport = "python -m workspace.myimport.main.app"
mymatplotlib = "python -m workspace.mymatplotlib.main.app"
mydict = "python -m workspace.mydict.mytest.test_mydict"
myunittest = "python -m workspace.myunittest.mytest.app"
