[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
requests = "*"
aiohttp = "*"
pipdeptree = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
mylogging = "python -m workspace.mylogging.main.app"
mysingleton = "python -m workspace.mysingleton.main.app"
myimport = "python -m workspace.myimport.main.app"
mymatplotlib = "python -m workspace.mymatplotlib.main.app"
mydict = "python -m workspace.mydict.mytest.test_mydict"
myunittest = "python -m workspace.myunittest.mytest.app"
myexception = "python -m workspace.myexception.main.app"
myconst01 = "python -m workspace.myconst.main.app01"
